{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel=”stylesheet” href={% static "main.css" %}>
<body style="background-image: url({% static 'background.png' %});background-size: cover;  background-repeat: no-repeat;background-attachment: fixed;">
<p>
{% if user.is_authenticated %}
<p>Authenticated as
<pre>
Name: {{ user.get_full_name }}
Email: {{ user.email }}
Id: {{ user.id }}
</pre>
</p>
<p>You can <a href="/accounts/logout">Logout</a></p>
{% else %}
<p><a href="/accounts/login"><button type="button" class="btn btn-warning" id="login">Тицяй сюди</button></a></p>
{% endif %}
{% if islocal %}
Some of the samples will require a user login to be created.
</p>
{% endif %}
</body>
{% endblock %}
