{% extends 'base.html' %}
{% load static %}
{% block content %}
<body style="background-image: url({% static 'background.png' %});background-size: cover;  background-repeat: no-repeat;background-attachment: fixed;">
<!-- <p> -->
{% if user.is_authenticated %}

<a href="/accounts/logout"><button type="button" class="btn btn-warning btn-lg" style="position: absolute;top: 50%;left: 70%;">Logout</button></a>
{% else %}
<a href="/accounts/login"><button id="login" type="button" class="btn btn-warning btn-lg" style="position: absolute;top: 50%;left: 70%;">Press here</button></a>
{% endif %}
{% if islocal %}
Some of the samples will require a user login to be created.
<!-- </p> -->
{% endif %}
</body>
{% endblock %}
