{% extends 'base.html' %}
{% block title %}Info{% endblock %}
{% block content %}
    <body>
      {% if user.is_authenticated %}
            <a href="{% url 'logout' %}?next={% url 'web:all' %}"><button type="button" class="btn btn-info">Logout</button></a>
        {% else %}
            <a href="{% url 'login' %}?next={% url 'web:all' %}"><button type="button" class="btn btn-info">Login</button></a> or
            <a href="{% url 'web:registration' %}?next={% url 'web:all' %}"><button type="button" class="btn btn-info">Registration</button></a>
{% endif %}
    <h3 class="text-center">Applicant information</h3>
    <form method="get" >
      <div class="form-group">
        <select class="form-select" name="vacancy_id">
          <option value="">All vacancies</option>
          {% for vacancy in vacancy_open %}
            <option value="{{ vacancy.id }}">{{ vacancy.name }}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-info">Show</button>
    </form>
    <table class="table"> 
        <tr>
          <th>Name</th>
          <th>Surname</th>
          <th>Vacancy</th>
          <th>Cover letter</th>
          <th>Email</th>
          <th>File</th>
        </tr>
        {% for resume in resumes %}
        <tr>
            <td>{{ resume.candidate.name}}</td>
            <td>{{ resume.candidate.surname}}</td>
            <td>{{ resume.vacancy.name}}</td>
            <td>{{ resume.cover_letter}}</td>
            <td>{{ resume.candidate.email }}</td>
            <td><a href="{{resume.file}}"><button type="button" class="btn btn-info">Open</button></a></td>
        </tr>
        {% endfor %}
      </table>
    </body>
{% endblock %}
